<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.damien.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UI.Activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".BroadcastReceiver.SMSReceiver"
            class="com.example.damien.myapplication.BroadcastReceiver.SMSReceiver">
            <intent-filter android:priority="100">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".UI.Activity.FunActivity"
            android:label="@string/title_activity_fun">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.Activity.MainActivity" />
        </activity>
        <activity
            android:name=".UI.Activity.ChatActivity"
            android:label="@string/title_activity_chat" />
        <activity
            android:name=".UI.Activity.NewMessageActivity"
            android:label="@string/title_activity_new_message">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.Activity.ChatActivity" />
        </activity>
        <activity
            android:name=".UI.Activity.FunSettingActivity"
            android:label="@string/title_activity_fun_setting">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.Activity.FunActivity" />
        </activity>
        <activity
            android:name=".UI.Activity.FunColorActivity"
            android:label="@string/title_activity_fun_color"></activity>
        <activity
            android:name=".UI.Activity.ImagePickActivity"
            android:label="@string/title_activity_image_pick"></activity>
        <activity
            android:name=".UI.Activity.ShowAttachActivity"
            android:label="@string/title_activity_show_attach"></activity>
        <activity
            android:name=".UI.Activity.AttachActivity"
            android:label="@string/title_activity_attach">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.Activity.NewMessageActivity" />
        </activity>
    </application>

</manifest>
